<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/collection.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/css/category.css">

    <script src="/script/script.js" defer></script>
    <!-- category script -->
    <!-- <script src="/script/category.js" defer></script> -->


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100&display=swap" rel="stylesheet">

    <title>Menu</title>
</head>
<body>
    <%- include('templates/navBar.ejs'); -%>

    <h1 class="shoes-head">SHOES</h1>




    <%- include('templates/category.ejs'); -%>






 
    <%- include('templates/footer.ejs'); -%>

</body>
</html>



 <!-- <div class="brand-img">
                <img src="">
                <div class="brand-title"></div>
                <ul class="brand-list">
                    <li></li>
                </ul>
        </div>
       -->
    