<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home.css">
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <script src="/script/home.js" defer></script>

    <link href='https://fonts.googleapis.com/css?family=Playfair' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100&display=swap" rel="stylesheet">



    <title>2 Brothers Collection</title>
</head>

<body>

    <%- include('templates/navBar.ejs'); -%>

    <div class="head">
            <h1 id="shop-name">2 BROTHER'S COLLECTION</h1>
            <ul>
                <li>BORN IN KATHMANDU</li>
                <li>Since '18</li>
            </ul>
    </div>

    <div class="slider-container">

        <div class="slider-pic active">
            <img src="https://images.pexels.com/photos/2057318/pexels-photo-2057318.jpeg">
        </div>

        <div class="slider-pic">
            <img src="https://images.pexels.com/photos/1485166/pexels-photo-1485166.jpeg">
        </div>

        <div class="slider-pic">
            <img src="https://images.pexels.com/photos/1124466/pexels-photo-1124466.jpeg">
        </div>

        <div class="btn">
            <button class="prev">&#10094;</button>
            <button class="next">&#10095;</button>
        </div>

    </div>

     <div class="ref-btn">
        <a href="#">ORDER BY CALL</a>
    </div>

    <div class="imp-shoe-container">
        <div class="imp-shoe-img">
            <img src="https://images.unsplash.com/photo-1519931127525-6b6a7619a003?w=12900&auto=format&fit=crop&q=80&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGFkaWRhc3xlbnwwfHwwfHx8MA%3D%3D" alt="Adidas FortaRun">
            <!-- https://images.unsplash.com/photo-1514514757092-71ebbc3db4e6?w=1290&auto=format&fit=crop&q=80&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fGFkaWRhc3xlbnwwfHwwfHx8MA%3D%3D -->
        </div>

        <div class="imp-shoe-description">
            <h2>Adidas FortaRun</h2>
            <p>Thinking Step into the Adidas FortaRun or Alphabounce models, where street style meets athletic prowess! This sleek, running-inspired sneaker delivers epic comfort and a snug, sock-like fit for all your adventures action. Powered by Bounce or Cloudfoam tech, every step feels energized and responsive, while the sturdy sole keeps you grounded and ready for action.</p>
        </div>
        <div class="overlay"></div>
        
    </div>

    
    <h2 class="brand-title">
        Nike <img class="brand-icon" 
        src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/nike.svg" alt="Nike"> 
    </h2>
    

    <div class="brand-img-container">
        <div class="brand-img">
            <img src="https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/e90ccffa-5cde-4a15-8eb1-490519e16aa1/WMNS+AIR+JORDAN+1+RETRO+HI+OG.png">
        </div>
        <div class="brand-img">
            <img src="https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/6087eda1-2dd5-40f7-8f55-462b91524bf9/AIR+JORDAN+5+RETRO+OG.png">
        </div>
        <div class="brand-img">
            <img src="https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/b5bf7176-9aaa-4e63-8bcd-50f809fc1dab/AIR+JORDAN+4+RETRO+OG+FC.png">
        </div>
        <div class="brand-img">
            <img src="https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/d970ad2c-272d-4ceb-a1fc-4f499e81a0c7/AIR+JORDAN+1+LOW+G.png">
        </div>
        <div class="brand-img">
            <img src="https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/8b6959b7-c889-4b09-8e46-5c443169eb6e/JORDAN+1+LOW+TD.png">
        </div>
        <div class="brand-img">
            <img src="https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/2a009a4f-f9ea-4bb3-8fb0-8cc4c0db1f1c/AIR+JORDAN+1+RETRO+LOW+OG+%28GS%29.png">
        </div>
    </div>
  
    <div class="ref-btn">
        <a href="#">Shop Jordan Shoes</a>
    </div>

<!-- <div class="head">
            <h1 id="name-restaurant">2 Brother's Collection</h1>
            <h2 id="quote-text">Style they'll remember</h2>
            <div class="order">
                <a href="#">ORDER BY CALL</a>
            </div>
        </div> -->
    
    <!-- <div class="menu-intro">
        
        <div class="info">
            <h2 id="title">Our Story</h2>
            <p id="description">This place started with hunger, curiosity, and a refusal to settle for forgettable food. We cook with real ingredients, a lot just meals. Come hungry. Leave happy. That's the whole idea.
            </p>
            <div class="order">
                <a href="/menu">SEE OUR MENU</a>
            </div>
        </div>

        <div class="image-menu">
            <img src="/photos/momo.png">
        </div>
            
    </div> -->


    <!-- <section class="container">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="slide-1" src="https://images.unsplash.com/photo-1552566626-52f8b828add9?w=1920&auto=format&fit=crop&q=80&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHJlc3RhdXJhbnR8ZW58MHwwfDB8fHww" alt="photo"> 
                <img id="slide-2" src="https://images.unsplash.com/photo-1579027989536-b7b1f875659b?w=1920&auto=format&fit=crop&q=80&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHJlc3RhdXJhbnR8ZW58MHwwfDB8fHww" alt="photo"> 
                <img id="slide-3" src="https://images.unsplash.com/photo-1498654896293-37aacf113fd9?w=1920&auto=format&fit=crop&q=80&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjl8fHJlc3RhdXJhbnR8ZW58MHwwfDB8fHww" alt="photo"> 
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
            </div>
        </div>
    </section> -->

    <%- include('templates/footer.ejs'); -%>

    
</body>
</html>



