<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Playfair' rel='stylesheet'>


    <link rel="stylesheet" href="/css/home.css">
    <script src="/script/home.js" defer></script>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Playfair' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100&display=swap" rel="stylesheet">



    <title>YOUR SHOP? MAYBEEE??</title>
</head>

<body>

    <%- include('templates/navBar.ejs'); -%>

    <div class="head">
            <h1 id="shop-name">YOUR SHOP? MAYBEEE??</h1>
            <ul>
                <li>BORN IN KATHMANDU</li>
                <li>Since '18</li>
            </ul>
    </div>



    <div class="slider-container">

        <div class="slider-pic active">
            <img src="https://images.pexels.com/photos/2057318/pexels-photo-2057318.jpeg">
        </div>

        <div class="slider-pic">
            <img src="https://images.pexels.com/photos/1485166/pexels-photo-1485166.jpeg">
        </div>

        <div class="slider-pic">
            <img src="https://images.pexels.com/photos/1124466/pexels-photo-1124466.jpeg">
        </div>

        <div class="btn">
            <button class="prev">&#10094;</button>
            <button class="next">&#10095;</button>
        </div>

    </div>

    <div class="ref-btn">
        <a href="#">ORDER VIA WHATSAPP</a>
    </div>

    <div class="imp-shoe-container">
        <div class="imp-shoe-img">
            <img src="https://images.unsplash.com/photo-1519931127525-6b6a7619a003?w=12900&auto=format&fit=crop&q=80&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGFkaWRhc3xlbnwwfHwwfHx8MA%3D%3D" alt="Adidas FortaRun">
        </div>

        <div class="imp-shoe-description">
            <h2>Adidas FortaRun</h2>
            <p>Thinking Step into the Adidas FortaRun or Alphabounce models, where street style meets athletic prowess! This sleek, running-inspired sneaker delivers epic comfort and a snug, sock-like fit for all your adventures action.</p>
        </div>
        <div class="overlay"></div>
        
    </div>

    <!-- NIKE SHOES -->
    <h2 class="brand-title">
        Nike <img class="brand-icon" 
        src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/nike.svg" alt="Nike"> 
    </h2>
    

    <div class="brand-img-container">
        <div class="brand-img">
            <img src="https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/e90ccffa-5cde-4a15-8eb1-490519e16aa1/WMNS+AIR+JORDAN+1+RETRO+HI+OG.png">
        </div>
        <div class="brand-img">
            <img src="https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/6087eda1-2dd5-40f7-8f55-462b91524bf9/AIR+JORDAN+5+RETRO+OG.png">
        </div>
        <div class="brand-img">
            <img src="https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/b5bf7176-9aaa-4e63-8bcd-50f809fc1dab/AIR+JORDAN+4+RETRO+OG+FC.png">
        </div>
        <div class="brand-img">
            <img src="https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/d970ad2c-272d-4ceb-a1fc-4f499e81a0c7/AIR+JORDAN+1+LOW+G.png">
        </div>
        <div class="brand-img">
            <img src="https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/8b6959b7-c889-4b09-8e46-5c443169eb6e/JORDAN+1+LOW+TD.png">
        </div>
        <div class="brand-img">
            <img src="https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/2a009a4f-f9ea-4bb3-8fb0-8cc4c0db1f1c/AIR+JORDAN+1+RETRO+LOW+OG+%28GS%29.png">
        </div>
    </div>
  
    <div class="ref-btn">
        <a href="/collection">Shop Nike Shoes</a>
    </div>

    <!-- PUMA SHOES -->
    <h2 class="brand-title">
        Puma <img class="brand-icon" 
        src="https://cdn.jsdelivr.net/npm/simple-icons@11.15.0/icons/puma.svg" alt="Puma logo">
    </h2>

    <div class="sec-brand-img-container">
        <div class="sec-brand-img ">
            <img src="https://images.unsplash.com/photo-1704949871220-3f4f4488623e?w=1290&auto=format&fit=crop&q=80&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTQyfHxwdW1hJTIwc2hvZXN8ZW58MHx8MHx8fDA%3D">
        </div>
        <div class="sec-brand-img">
            <img src=" https://images.unsplash.com/photo-1680204101400-aeac783c9d87?w=1290&auto=format&fit=crop&q=80&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHB1bWElMjBzaG9lc3xlbnwwfHwwfHx8MA%3D%3D">
        </div>
        <div class="sec-brand-img">
            <img src="https://images.unsplash.com/photo-1704949841973-9db544ac35ec?w=1290&auto=format&fit=crop&q=80&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTM3fHxwdW1hJTIwc2hvZXN8ZW58MHx8MHx8fDA%3D">
        </div>
    </div>

    <div class="ref-btn">
        <a href="/collection">Shop Puma Shoes</a>
    </div>

    <!-- BRAND NAMES -->
    <h2 class="brand-title">BRANDS</h2>
    <div class="brand-icon-images">
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/nike.svg" class="brand-icon" alt="Nike"> 
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@11.15.0/icons/puma.svg" class="brand-icon" alt="Puma"> 
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@11.15.0/icons/adidas.svg" class="brand-icon" alt="Adidas"> 
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@11.15.0/icons/bata.svg" class="brand-icon" alt="Bata"> 
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@11.15.0/icons/reebok.svg" class="brand-icon" alt="Rebook"> 
    </div>

    <div class="ref-btn">
        <a href="/collection">SHOP</a>
    </div>

    <br>
    <%- include('templates/footer.ejs'); -%>

    
</body>
</html>