<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
</head>
<body>
    <h1>SIGN IN</h1>
    <div class="signin">
        <form action="/login" method="post">
            <label for="email">Email or Username</label>
            <input type="email" name="email" id="email" placeholder="email or username" autocomplete="on" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="password" autocomplete="off" required>
            <button type="submit"> Sign in</button>
        </form>
    </div>    
    
    <a href="/signup">Create an account</a>
    
</body>
</html>