<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/script/script.js" defer></script>

    <title>Menu</title>
</head>
<body>
    <%- include('templates/navBar.ejs'); -%>

    <h1 class="shoes-head">SHOES</h1>


    <div class="brand-img-container">
        <div class="brand-img">
            <img src="https://static.nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/f6ed1490-9e36-4994-b32d-098653245611/JORDAN+JUMPMAN+PRO.png">
            
            <div class="brand-title">Jordan Jumpman Pro</div>
            <ul class="brand-list">
                <li>Rs 1,449</li>
            </ul>
        </div>

        <div class="brand-img">
            <img src="https://static.nike.com/a/images/t_web_pdp_535_v2/f_auto,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/a6144272-467a-4e8d-bd55-813470df5221/AIR+JORDAN+1+LOW+G.png">

            <div class="brand-title">Air Jordan 1 Low G</div>
            <ul class="brand-list">
                <li>Rs 1,449</li>
            </ul>
        </div>

        <div class="brand-img">
            <img src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/108883/02/sv01/fnd/PNA/fmt/png/FUTURE-9-ULTIMATE-Men's-Firm-Ground-Soccer-Cleats">

            <div class="brand-title">Future 9 Ultimate</div>
            <ul class="brand-list">
                <li>Rs 1,449</li>
            </ul>
        </div>

        <div class="brand-img">
            <img src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/402995/06/sv01/fnd/PNA/fmt/png/Speedcat-Plus-Sneakers">

            <div class="brand-title">Speedcat Plus</div>
            <ul class="brand-list">
                <li>Rs 1,449</li>
            </ul>
        </div>

        <div class="brand-img">
            <img src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_600,h_600/global/312044/01/sv01/fnd/PNA/fmt/png/Meza-Men's-Shoes">
            <div class="brand-title">Meza</div>

            <ul class="brand-list">
                <li>Rs 1,449</li>
            </ul>
        </div>

        <div class="brand-img">
            <img src="https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/2a009a4f-f9ea-4bb3-8fb0-8cc4c0db1f1c/AIR+JORDAN+1+RETRO+LOW+OG+%28GS%29.png">

            <div class="brand-title">Air Jordan 1 Retro Low "Chicago"</div>
            <ul class="brand-list">
                <li>Rs 1,449</li>
            </ul>
        </div>

        <div class="brand-img">
            <img src="https://www.allbirds.com/cdn/shop/files/A12506_26Q1_Trail-Runner-Deep-Red-Dark-Anthracite_PDP_LEFT_875428f9-f820-4a33-8cd5-01b830f99546.png?v=1765239238&width=1280">
            <div class="brand-title">Men's Trail Runners</div>

            <ul class="brand-list">
                <li>Rs 1,449</li>
            </ul>
        </div>

        <div class="brand-img">
            <img src="https://www.allbirds.com/cdn/shop/files/A12377_26Q1_Breezer-Mary-Jane-Warm-White-Natural-Black-Warm-White-Sole_PDP_LEFT.png?v=1765303378&width=1280">

            <div class="brand-title">Women's Breezer Mary Jane</div>
            <ul class="brand-list">
                <li>Rs 1,449</li>
            </ul>
        </div>

    </div>

 

    <%- include('templates/footer.ejs'); -%>

</body>
</html>