.category-container{
    margin: 2rem;
    /* display: flex;
    justify-content: column;
    flex-wrap: wrap; */
    
}

/* .category{
    cursor: pointer;
} */

/* .category input{
    max-width: 200px;
    width: 100%
} */

.category a{
    text-decoration: none;
    color: inherit;
}

.category ul li{
    list-style: none;
}