.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-layout{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-top: 20px;
}

.contact-info ul li{
    list-style: none;
    padding: 0.5rem 0;
}

.manager-photo img {
    width: 250px;
    aspect-ratio: 2.6 / 4;
    object-fit: cover;
    border-radius: 8px;
}

.form form{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

#button{
    border: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}

.button:hover{
    color: #162530;
    background-color: rgba(188, 212, 229, 0.8);
    border: 2px solid #FEF3E2;
    border: 2-x solid transparent;
    transition: all 0.7s ease;
}


.map{
    margin-top: 2;
    display: flex;
    justify-content: center;
    padding: 30px;
    cursor: pointer;
    border-radius: 8px;
}

@media (max-width: 480px) {
    .contact-layout {
        flex-direction: column;
        align-items: center;
    }

    .manager-photo img {
        width: 100%;
        max-width: 300px;
    }

    .info-column {
        width: 100%;
    }

    .form form {
        gap: 0.4rem;
    }

    .contact-info ul li{
        list-style: inside;
    }
}
