body {
    font-family: Playfair , 'Times New Roman', Times, serif;
    color: #000000;
    background: #EBEBE8;
    margin: 0;
    padding: 0;
}

.head {
    margin-top: 5rem;
    text-align: center;   
    font-family: Roboto Mono, 'Times New Roman', Times, serif;
    line-height: 0.9;
}

#shop-name{
    font-size: 2.7rem;
    word-spacing: -0.1rem;
    letter-spacing: -0.3rem;
    /* font-weight: bold; */
}

.head ul {
    list-style-type: none;
    font-size: 1.5rem;
}





.slider-container{
    position: relative;
    width: 100vw;
    height: 60vh;

}

.slider-pic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;

}

.slider-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-pic.active{
    opacity: 1;
    animation: slides 1s ease-in-out forwards;

}

button{
    color: #EBEBE8;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn button{
    position: absolute;
    top: 75%;
    font-size: 3rem;
}

.next{
    right: 10%;
}

.prev{
    left: 10%;
}




.imp-shoe-container {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.imp-shoe-img {
    position: absolute;
    inset: 0;
}

.imp-shoe-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.imp-shoe-description {
    position: relative; 
    z-index: 1;
    color: #EBEBE8;
    /* color: #000000; */
    text-align: center;
    align-items: center;
    top: 10%;
    left: 10%;
    margin: 3rem;
    font-size: 1.2rem;
    max-width: 400px;
}

.brand-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 1rem;
}

.brand-icon{
    width: 100px;
    height: 100px;
    flex-direction: row;
}

.brand-img-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);    
    margin:  2rem;
    gap: 1rem;
}

.brand-img{
   aspect-ratio: 6 / 5;
}
.brand-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}





/* For the refrence button */
.ref-btn{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin: 1.5rem;
}

.ref-btn a{
    display: inline-block;
    border: 1px solid #000000;
    padding: 5px 3px;
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
    transition: all 0.7s ease;
    padding: 1rem;
}

.ref-btn a:hover{
    background-color: #CFEEEEEE;
    border-radius: 20px;
    color: #000000;
}


@media(max-width: 800px){
    #name-restaurant{
        font-size: 3.4rem;
    }

    #quote-text{
    font-size: 1.8rem;
    }

    .ref-btn a{
        font-size: 1.5rem;
    }


    #title{
        font-size: 2rem;
    }

    #description{
        font-size: 1rem;
    }

    .overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.60);
    }

    .imp-shoe-description{
        position: absolute;      
        top: 50%;                
        left: 50%;                
        transform: translate(-50%, -50%);
        text-align: center;
        margin: 0;             
        max-width: 80%;           
        font-size: 1rem;  
    }
}

@media(max-width: 900px){
    .menu-intro{
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .brand-img-container {
        grid-template-columns: repeat(3, 1fr);
    }
}