body {
    font-family: playfair, 'Times New Roman', Times, serif;
    color: #000000;
    background: #EBEBE8;
    margin: 0;
    padding: 0;
}

.head {
    margin-top: 4rem;
    text-align: center;   
}








.slider-container{
    position: relative;
    width: 100vw;
    height: 60vh;
}

.slider-pic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;

}

.slider-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-pic.active{
    opacity: 1;
    animation: slides 1s ease-in-out forwards;

}

button{
    color: #EBEBE8;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn button{
    position: absolute;
    top: 75%;
    font-size: 3rem;
}

.next{
    right: 10%;
}

.prev{
    left: 10%;
}




.imp-shoe-container {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.imp-shoe-img {
    position: absolute;
    inset: 0;
}

.imp-shoe-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.imp-shoe-description {
    position: relative; 
    z-index: 1;
    color: #EBEBE8;
    /* color: #000000; */
    text-align: center;
    align-items: center;
    top: 10%;
    left: 10%;
    margin: 3rem;
    font-size: 1.2rem;
    max-width: 400px;
}






/* 

#name-restaurant{
    font-size: 4.5rem;
}

#quote-text {
    font-size: clamp(2.5rem, 8vw, 4.5rem);
    font-size: 2.5rem;
    font-weight: 1000;
    text-align: center;
    margin-top: -50px;
    color: transparent;
    background: linear-gradient(90deg,
        #DC5F00 0%,   
        #EEEEEE 25%,  
        #DC5F00 50%,  
        #EEEEEE 75%,  
        #DC5F00 100% 
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: sweep 5s linear infinite;
}

@keyframes sweep {
    0%   { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}


#title{
    font-size: 3rem;
}

#description{
    font-size: 1.5rem;
}


.menu-intro {
    display: flex;
    align-items: center;
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}


.image-menu{
    flex: 0 0 45%;
}


.image-menu > img{
    width: 100%;
    height: auto; 
    object-fit: cover;
}


.info{
    flex: 1;
    text-align: left;
} */

/* .container{
    margin-top: 8rem;
    padding: 0;
} */

/* For the order button */
.order{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.order a{
    display: inline-block;
    /* border: 2px solid #A7AFB6; */
    /* background-color: #A7AFB6; */
    padding: 5px 3px;
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
    transition: all 0.7s ease;
}

.order a:hover{
    background-color: #CFEEEEEE;
    border-radius: 20px;
    color: #000000;
    border: 2px solid #EEEEEE;
}


@media(max-width: 800px){
    #name-restaurant{
        font-size: 3.4rem;
    }

    #quote-text{
    font-size: 1.8rem;
    }

    .order a{
        font-size: 1.5rem;
    }


    #title{
        font-size: 2rem;
    }

    #description{
        font-size: 1rem;
    }
}

@media(max-width: 900px){
    .menu-intro{
        flex-direction: column;
    }
}


/* .wrapper {
    position: relative;
    text-align: center;
    height: clamp(40vh, 85vh, 100vh);
    overflow: hidden; 
    margin-top: 90px;
}

.wrapper img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
}

.overlay {
   position: absolute;
   inset: 0;
   background: rgba(0, 0, 0, 0.60);
}

.head {
   position: absolute;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
 */
