body{
    margin: 0;
    padding: 0;
    /* color: #000000 */
}

.navbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: transparent;
    /* border: 1px solid #000000; */
    justify-content: space-between;
    z-index: 1000;
    transition: background-color 0.1s ease;

}


.navbar.scrolled{
    /* background: rgba(0,0,0,0.3); */
    /* background-color: #000000; */
    border: 0.5px solid #000000;
    background-color: #EBEBE8;
    position: fixed;
    /* transition: background-color 0.4s ease; */
}


.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}


.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none ;
}

.navbar-container .navbar-menu li a{
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active{
    color: #000000;
    /* background-color: #CFEEEE;
    border: 2px solid #000000; */
}

.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;    
    background: #000000;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 880px){
    .navbar{
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);        
    }

    .navbar-container .navbar-menu.active{
        display: flex;
        width: 250px;
    }

    .navbar-toggle{
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 480px){
    .navbar-container{
        padding: 0;
    }

    .navbar-logo{
        font-size: 1.2rem;
    }

    .navbar-toggle{
        padding: 0px;
    }

    .navbar-container .navbar-menu li a{
        font-size: 1.2rem;
    }
    
    .navbar-container .navbar-menu.active{
        width: 150px;
    }
}