body{
    margin: 0;
    padding: 0;
    font-family: Playfair , 'Times New Roman', Times, serif;
}


.shoes-head{
    margin-top: 5rem;
    text-align: center;
    font-size: 2.7rem;
    word-spacing: -0.1rem;
    letter-spacing: -0.3rem;
    font-family: Roboto Mono, 'Times New Roman', Times, serif;
}


.brand-img-container{
    max-width: 900px; /* Or whatever width you want the whole grid to be */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

}

.brand-img{
    /* max-width: 900px; */
    aspect-ratio: 6 / 5;
}

.brand-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.brand-title{
    letter-spacing: 2px;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    
}

.brand-list{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    text-align: center;
    /* text-align: left; */
}

.brand-list li{
    list-style: none;
}

@media(max-width: 1000px){
    .brand-img-container{    
        grid-template-columns: repeat(3, 1fr);    
    }

    .brand-title{
        font-size: 1.5rem;
    }

    .brand-list{
        font-size: 1.2rem;
    }
}

@media(max-width: 500px){
    .brand-img-container{    
        grid-template-columns: repeat(2, 1fr);    
    }

    .brand-title{
        font-size: 1.3rem;
    }

    .brand-list{
        font-size: 0.9rem;
    }
}

