<!-- <link rel="stylesheet" href="/css/category.css">

<div class="category-container">

    <div class="category">
        <ul>
            <li>
                <a href="/collection">BRAND</a>
                <ul>
                    <li> <a href="#">NIKE</a></li>
                    <li> <a href="#">ADIDAS</a></li>
                    <li> <a href="#">BATA</a></li>                        
                </ul>
            </li>
        </ul>
    </div>

    

     <div class="category">
        <ul >
            <li>
                <a href="/collection">GENDER</a>
                <ul>
                    <li> <a href="#">MALE</a></li>
                    <li> <a href="#">FEMALE</a></li>                                                
                </ul>
            </li>
        </ul>
    </div>

    <div class="category">
        <ul >
            <li>
                <a href="/collection">TYPES</a>
                <ul>
                    <li> <a href="#">CASUAL</a></li>
                    <li> <a href="#">RUNNING</a></li>                                                
                </ul>
            </li>
        </ul>
    </div>        

    <div class="category">
        <ul>
            <li>
                <a href="/collection">PRICE</a>
                <ul>
                    <input type="number" placeholder="min">  
                    <input type="number" placeholder="max">                                       
                </ul>
            </li>
        </ul>
    </div>  
         
</div> -->