
<link rel="stylesheet" href="/css/footer.css">

    
    <section class="footer">
        <div class="copyright">
        <p>© 2026. All rights reserved. <a href="https://wa.me/9779821859944" id="personal" target="_blank" rel="noopener noreferrer" >Created by Klein.</a></p>
    </div>

    <div class="socials">
        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><img src="/photos/facebook.png" alt="Facebook"></a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><img src="/photos/instagram.png" alt="instagram"> </a>
        <a href="https://www.tiktok.com" target="_blank" rel="noopener noreferrer"><img src="/photos/tiktok.png" alt="Tiktok"></a>
    </div>



        <div class="address">
            <ul>
                <li>Kathmandu, Hanuman Dhoka</li>
                <li>+97 000000000</li>
                <li>example@gmail.com</li>
                <li>
                    <a href="https://www.google.com/maps/place/Hetauda/@27.4206429,84.708446,10z/data=!3m1!4b1!4m6!3m5!1s0x39eb497ced46c917:0xafb8902c7a4532ab!8m2!3d27.4310018!4d85.0319975!16zL20vMGd5Z3Rx?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoASAFQAw%3D%3D" class="get-direction">Get Directions</a>
                </li>
            </ul>
        </div>

        <div class="opening-hours">
            <ul>
                <li id="head-openinghour">Opening Hours</li>
                <li>Sunday-Thursday: 12:00pm-10:30pm</li>
                <li>Friday-Saturday: 10:00pm-5:00pm</li>
            </ul>
        </div>

    </section>