<link rel="stylesheet" href="/css/navBar.css">

<nav class="navbar">
   
    <div class="navbar-container">
            
        <a class="navbar-logo" href="/">Brother's Collection</a>
        <button class="navbar-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <ul class="navbar-menu">
            <li><a href="/">HOME</a></li>
            <!-- <li><a href="/menu">MENU</a></li> -->
            <!-- <li><a href="/aboutUs">ABOUT US</a></li> -->
            <!-- <li><a href="/contact">CONTACT US</a></li> -->
        </ul>
    </div>

</nav>

<script src="/script/navBar.js"></script>
