<link rel="stylesheet" href="/css/navBar.css">

<nav class="navbar">
   
    <div class="navbar-container">
            
        <a class="navbar-logo" href="/">YOUR SHOP? MAYBEEE??</a>
        <button class="navbar-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            
        </button>
        <!-- <h1>ss</h1> -->
        <ul class="navbar-menu">
            <li><a href="/">HOME</a></li>
            <li><a href="/collection">COLLECTIONS</a></li>
            <li><% if(admin) { %>
                    <a href="/addShoe">ADD SHOE</a>
                <% } %>
            </li>
            <!-- <a href="/signIn">Login</a>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form> -->





            <!-- <li><a href="/aboutUs">ABOUT US</a></li> -->
            <!-- <li><a href="/contact">CONTACT US</a></li> -->
        </ul>

        
    </div>



</nav>

<script src="/script/navBar.js"></script>
